/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
body {
  font-size: 14px;
  padding: 10px;
  margin: 0;
}

/* Media queries */
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}
